a{
  text-decoration: none;
}

img{
    height: 3.625rem;
    border-radius: 2.5rem;
}

.toggler_X {
  border: none !important;
  color: red;

  .toggler_X:hover {
    border: none !important;
  }
}

.navbar_item {

    .lol {
      margin-left: 1.2354rem;
    }
}
